import { Injectable } from '@angular/core';

@Injectable({
  providedIn: 'root'
})
export class ConfigService {
  private _config!: Config;

  constructor() { }

  public set config(v : Config) {
    this._config = v;
  }
  
  public get config() : Config {
    return this._config;
  }
}

export interface Config {
  OTDS_URL: string;
  GATEWAY_URL: string;
  ORG_DN: string;
}
